// Place all the styles related to the Skateboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-color: indianred;
}
form {
    background-color: #fff;
}
#tablePage, #newBoard, #newUser, #logIn {
    display: flex;
    flex-direction: column;
    background-color: #ededed;
    padding: 50px;
    width: 300px;
    border-radius: 10px;
    margin: auto;
}
#tablePage h1 {
    text-align: center;
    padding-bottom: 30px;
    border-bottom: solid 1px black;
}
#newBoard form, #newUser form, #logIn form {
    background-color: #ededed;
}
#newBoard input, #newUser input, #logIn input {
    border-radius: 5px;
    height: 15px;
}
.actions input {
    height: 30px !important;
}
// You have to do rails generate views to get log in views to style
